.Item {
    border-width: 0.2em;
    border-radius: 1em;
    border-color: #000000;
    border-style: solid;
    margin: 1em 0.5em 1em 0.5em;
    padding: 0.8em;
}

.Header {
    padding-bottom: 0.5em;
}
